.navbar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-right:15px;
  }
  
  .navlogo-container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100%;
    width:35%;
    padding:10px;
  }
  
  .nav-logo-img {
    width: 10rem;
    height: 3rem;

  }
  
  .nav-link {
    display: flex;
    flex-direction:row;
    gap:70px;
  }
  
  .nav-link a {
    text-decoration: none;
    color: #333;
  }
  
  .hamburger-menu {
    cursor: pointer;
    display: none;
  }
  
  .menu-pic {
    font-size: 24px;
  }
  .nav-link a:hover{
    color: black;
    font-size: 17px;
}
  
  @media (max-width: 768px) {
    .nav-link {
      display:none;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      flex-direction: column;
      background-color: #f8f8f8; 
      padding:10px;
      gap:25px;
    }  
    .hamburger-menu {
      display: block;
    }
    .nav-logo-img {
        width: 10rem;
        height: 3rem;
        padding-bottom:4px;
      }
      .nav-link.open {
        display: flex;
      }
  }
  
    
     
    
