.menu{
    height: 100%;
    flex-grow: 1;
    display:flex;
    justify-content: center;
    align-items: center;
}

.menu-items{
    margin-top:40px;
    margin-bottom:40px;
}

.grids{
    display: grid;
    margin-left:20px;
    margin-right:20px;
    gap: 20px;
    grid-template-columns: auto auto auto;
}

@media only screen and (max-width: 819px){
    .grids{
        display: grid;
        margin-left:20px;
        margin-right:20px;
        gap: 20px;
        grid-template-columns: auto auto;
    }
    
}

@media only screen and (max-width: 660px){
    .grids{
        display: grid;
        margin-left:20px;
        margin-right:20px;
        gap: 20px;
        grid-template-columns: auto ;
    }
    
}
