.fullMain {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

.game {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background: #fff;
}
.boardRow{
    display: flex;
}
.gameBoard {
    margin: 20px;
}

.square {
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 36px;
    line-height: 64px;
    height: 84px;
    width: 84px;
    text-align: center;
    cursor: pointer;
    margin: 20px;
    display:flex;
    justify-content: center;
    align-items: center;

}

.square:hover {
    background-color: #f0f0f0;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}