* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.app {
  display: flex;
  justify-content: center;
  gap: 2rem;
  max-width: 800px;
  margin: 2rem auto;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-size: 2rem;
}
