.Dictionary section {  
  max-width: 850px;  
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 50px;
  border-radius: 20px;
  outline: 2px solid #2E8B57;
  outline-offset: -10px;
  background-color: #dde9e2;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.Dictionary .search {
  margin: auto;
  width: 50%;
  height: 40px;
  border: 2px solid #2E8B57;
  border-radius: 20px;
  background-color: #fff;
  padding-left: 10px;
}

.Dictionary .search-button {
  height: 40px;  
  font-size: 15px;
  padding: 8px 20px;  
  margin-left: 8px;
  border-radius: 20px;
  border: none;
  background-color: #2E8B57;
  color: #fff;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.Dictionary .search-button:hover {
  background-color: #277047;
}

.Dictionary .subheading {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  text-transform: lowercase;
}

.Dictionary .suggestions {
  margin-top: 10px;
  font-size: 12px;
  font-style: italic;
  color: #000;
}
