body {
	background: url("https://i.pinimg.com/originals/54/0a/9d/540a9d8b863b3601e4653f42cbe243c1.gif");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}
