*{
  font-family:"Roboto" ;
}

.abc{

  text-decoration: none;
  color: rgb(8, 8, 8);


}

.head{

  /* font-weight:100; */
  

   margin-bottom: 50px;
   display: flex;
   justify-content: center;
   margin-top: 50px;




  

}

.heading
{
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{


  display: flex;
  justify-content: center;
  align-items: center;
}

.def{
  text-decoration: none;

  color: white;

}

.succ{

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

}


.active {
  
  color:rgb(60, 179, 215);
}
.def .active {
  color: white;

}

.header .container {
  justify-content: center;
}
.input-group-text {
  background-color: #212529;
  color: #fff;
  font-weight: bold;
}
.edit,
.delete {
  padding: 0px 6px;
  border-radius: 2px;
}

.edit {
  margin-right: 10px;
}
table {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
